@font-face{
font-family:angsa;	
src:url(fonts/angsa.ttf);
	
}


body {
	margin:0;
	font-family:angsa;
	
}
header {
	width:100%;
	background:#006680;
		
}


#contenedor{
	width:100%;
	height:auto;
	margin:auto;
	background:#fff;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:center;
	
}
.logo{
	width:350px;
	height:60px;
	
}
.h1{
	margin-right:50px;
	font-size:30px;	
}


#contenido{
	
	width:100%;
	height:auto;
	margin:auto;
	background:#ffffff;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	
	
}
#info{
	
	width:75%;
	height:auto;
	margin:auto;
	margin-top:10px;
	background:#ffffff;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

.h2{
	margin-top:20px;
	margin-bottom:20px;
	font-size:20px;
	text-align:center;
}


article{
	width:470px;
	margin:10px 10px 10px 10px;	
	text-align:justify;
	background:#ffffff;
	
}
aside{
	padding-top:20px;
	padding-bottom:10px;
	width:200px;
	margin:10px;
	height:auto;
	background:#ffffff;
	float:right;
	text-align:center;
	}
object{
	padding-top:30px;
	
	
}

.contador{
	
	padding-top:10px;
	padding-bottom:20px;
	width:200px;
	margin:auto;
	margin-top:30px;
	background:#FFFFFF;
	border-radius:20px;
	box-shadow:0px 0px 20px #FFFFFF;
	text-align:center;
	
}
.contador:hover{
	background: rgba(225,220,214,0.9);
	box-shadow:0px 0px 35px #000000;
}



#btn-menu{
	display: none;
		
}
header label {
	
	display:none;
	width:30px;
	height:30px;
	padding:10px;
	border-right:1px solid #fff;
}
header label:hover {
	cursor: pointer;
	background:rgba(0,0,0,0.3);
	
	
}
.menu ul {
	
	margin:0;
	list-style:none;
	padding:0;
	display:flex;
	justify-content: center;
	
}


.menu li {
	
	border-right:1px solid #fff;
	border-left:1px solid #fff;
}


.menu li:hover{
	background:#004759;
	
}
.menu li a{
	
	display: block;
	padding: 15px 20px;
	width:100px;
    color:rgb(230, 226, 6);
	text-decoration:none;
	text-align:center;
	
}
.menu ul ul{
	
		position:absolute;
		flex-direction:column;
		
	
	}
.menu li li{
		
		background:#006680;
		max-height:0;
		overflow:hidden;
		transition:all .5s;
		
		
			
}


.menu li:hover li{
	max-height:500px;
	overflow:visible;
	border-bottom: 1px solid #fff;
	
}



.h3{
	
	margin-top:20px;
	margin-bottom:20px;
	font-size:25px;
	text-align:center;
}



#centro{
	
	padding:5px;	
	width:100px;
	margin:auto;	
	
	
	}
.autores{
	
	padding:10px;
	width:320px;
	margin:30px 10px 20px 20px;	
	text-align:center;
	background:rgb(230, 226, 6);
	border-radius:20px;
	box-shadow:20px 20px 20px #2A4BB7;
	
	
}


#video{
	padding:10px;
	width:60%;
	height:400px;
	margin:auto;
	display:flex;	
	justify-content:center;
	
}
#Documentos{
	width:80%;
	height:600px;	
	margin:auto;
	padding-top:10px;	
	display:flex;	
	justify-content:center;
    
}
.l1{
	flex-grow:1;
	
}
#piepagina{
	width:100%;
	height:auto;
	margin-top:20px;
	padding:10px;
	background:#14161A;
	display:flex;
	justify-content:center;
}
footer{
	
color:#fff;
text-align:center;
}


@media (max-width:768px){
	
	header label{
		display:block;
		
	}
	.menu{
		
		position:absolute;
		background:#006680;
		width:50%;
		margin-left:-50%;
		transition: all 1s;
		
	}
	.menu ul{
		
		flex-direction: column;
		
		
	}
	.menu li{
		border-bottom: 1px solid #fff;
	}
	.menu ul ul{
		
	left:100%;
	position:absolute;
	margin-top:-35%;
	
	
	
	}
	.menu li li{
			border-bottom: 0px solid #fff;
			background:#006780;
			max-height:0;
			overflow:hidden;
			transition:all .8s;
			flex-direction:row;
			
	}
	.menu li:hover li{
		border-top: 1px solid #fff;
		max-height:500px;
		overflow:visible;
		flex-direction:row;
			
	}
	#btn-menu:checked ~.menu {
		
		margin:0;
	}
	
	#video{
		padding:5px;
		width:98%;
	}
	
}